# Montreal Bike Rides

## Project Scope

The scope of the project is to create and engineer a usable data set for data visualization purposes.

The final data set holds weather, forecast, and ride data from 2021.

The data sources used are publicly available in the following links.

### Data sources

Historical Climate Data - Montreal: https://montreal.weatherstats.ca/download.html

Bixi Ride Usage Data - Montreal: https://bixi.com/en/open-data

## Imports & Edits

In [2]:
## Imports
import pandas as pd

## Since we are working with a large data set, it is best to show all items the columns
pd.set_option('display.max_columns', None)

## Bixi Data Set; Rides

In [3]:
## Reading CSV rides
rides_2021 = pd.read_csv("./data/2021_rides.csv")

In [4]:
## Quick peek at dataframe
rides_2021.head()

,start_date,emplacement_pk_start,end_date,emplacement_pk_end,duration_sec,is_member
0,2021-06-29 17:46:28.653,10,2021-06-29 19:33:25.700,10,6417,0
1,2021-04-25 18:02:39.110,10,2021-04-25 18:13:26.139,188,647,0
2,2021-08-08 18:50:31.633,10,2021-08-08 18:58:57.585,778,505,1
3,2021-10-11 17:50:15.346,10,2021-10-11 18:25:31.726,504,2116,1
4,2021-09-10 15:51:58.050,10,2021-09-10 16:21:01.403,780,1743,1

In [5]:
## Find dataframe column name & dtype info.
rides_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5566351 entries, 0 to 5566350
Data columns (total 6 columns):
 #   Column                Dtype
---  ------                -----
 0   start_date            object
 1   emplacement_pk_start  int64
 2   end_date              object
 3   emplacement_pk_end    int64
 4   duration_sec          int64
 5   is_member             int64
dtypes: int64(4), object(2)
memory usage: 254.8+ MB

In [6]:
## Find dataframe shape
rides_2021.shape

(5566351, 6)

In [7]:
## Checking for Null Values
rides_2021.isnull().sum()

start_date              0
emplacement_pk_start    0
end_date                0
emplacement_pk_end      0
duration_sec            0
is_member               0
dtype: int64

In [8]:
## Dropping unneccesary columns
rides_2021.drop(['emplacement_pk_start', 'end_date', 'emplacement_pk_end'], axis=1, inplace=True)
rides_2021.head()

                start_date  duration_sec  is_member
0  2021-06-29 17:46:28.653          6417          0
1  2021-04-25 18:02:39.110           647          0
2  2021-08-08 18:50:31.633           505          1
3  2021-10-11 17:50:15.346          2116          1
4  2021-09-10 15:51:58.050          1743          1

In [9]:
## Turning rides start_date into standardized date and sorting + reindexing
rides_2021['start_date'] = pd.to_datetime(rides_2021['start_date']).dt.floor('H')
rides_2021 = rides_2021.sort_values('start_date')
rides_2021.reset_index(drop=True, inplace=True)

## Renaming start_date column to date
rides_2021.rename(columns={'start_date':'date'}, inplace=True)

In [10]:
## Final look at rides_2021 dataframe
rides_2021.head()

                 date  duration_sec  is_member
0 2021-04-09 07:00:00           929          1
1 2021-04-09 07:00:00           298          1
2 2021-04-09 08:00:00           553          1
3 2021-04-09 08:00:00           585          1
4 2021-04-09 08:00:00           590          1

#### Metadata rides_2021

| Column             | Description                                    |
| ------------------ | ---------------------------------------------- |
| date               | Date of ride                          |
| duration_sec       | Duration of the ride in seconds                |
| is_member          | Indicates whether the user is a member (0 - not a member, 1 - member) |

## Climate Data Set; Weather + Forecast

In [11]:
## Extract weather + forecast historic data based on year

## Reading CSV weather + forecast
weather = pd.read_csv("./data/weather.csv")
forecast = pd.read_csv("./data/forecast.csv")

In [12]:
## Quick peek at weather dataframe
weather.head(2)

,date_time_local,unixtime,pressure_station,pressure_sea,wind_dir,wind_dir_10s,wind_speed,wind_gust,relative_humidity,dew_point,temperature,windchill,humidex,visibility,health_index,cloud_cover_4,cloud_cover_8,cloud_cover_10,solar_radiation,max_air_temp_pst1hr,min_air_temp_pst1hr
0,2023-07-24 19:00:00 EDT,1690239600,NaN,NaN,S,18,19,33.0,58,16.3,25.1,NaN,30.0,24100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2023-07-24 18:00:00 EDT,1690236000,101.01,101.44,SSE,16,18,NaN,49,15.7,27.3,NaN,32.0,24100.0,NaN,NaN,4.0,NaN,NaN,28.4,27.2

In [13]:
## Quick peek at forecast dataframe
forecast.head(2)

,date_time_local,unixtime,period_index,period_string,conditions,pop,pop_category,temperature,uv,windchill,humidex,wind_bearing,wind_direction,wind_gust,wind_speed
0,2023-07-25 11:30:00 EDT,1690299000,1690304400,2023-07-25 13:00:00,Chance of showers,30,Low,23,NaN,NaN,29.0,NaN,SW,NaN,20
1,2023-07-25 11:30:00 EDT,1690299000,1690308000,2023-07-25 14:00:00,Chance of showers,30,Low,24,NaN,NaN,30.0,NaN,SW,NaN,20

In [14]:
## Slice the date time to only include datetime without timezone label
weather['date_time_local'] = weather['date_time_local'].str.slice(0, 19)
forecast['date_time_local'] = weather['date_time_local'].str.slice(0, 19)

### Weather Data Set

In [15]:
weather.head()

,date_time_local,unixtime,pressure_station,pressure_sea,wind_dir,wind_dir_10s,wind_speed,wind_gust,relative_humidity,dew_point,temperature,windchill,humidex,visibility,health_index,cloud_cover_4,cloud_cover_8,cloud_cover_10,solar_radiation,max_air_temp_pst1hr,min_air_temp_pst1hr
0,2023-07-24 19:00:00,1690239600,NaN,NaN,S,18,19,33.0,58,16.3,25.1,NaN,30.0,24100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2023-07-24 18:00:00,1690236000,101.01,101.44,SSE,16,18,NaN,49,15.7,27.3,NaN,32.0,24100.0,NaN,NaN,4.0,NaN,NaN,28.4,27.2
2,2023-07-24 17:00:00,1690232400,101.04,101.47,SSE,16,21,NaN,54,17.8,28.1,NaN,34.0,24100.0,NaN,NaN,3.0,NaN,NaN,28.4,27.7
3,2023-07-24 16:00:00,1690228800,101.11,101.54,SSE,15,17,NaN,58,18.7,27.7,NaN,34.0,24100.0,NaN,NaN,7.0,NaN,NaN,27.8,26.9
4,2023-07-24 15:00:00,1690225200,101.10,101.53,SSE,15,16,NaN,59,18.8,27.4,NaN,34.0,24100.0,NaN,NaN,8.0,NaN,NaN,28.4,27.3

In [16]:
# Convert the 'date' column to datetime format
weather['date_time_local'] = pd.to_datetime(weather['date_time_local'])

# Extract the year value from the date column
weather['year'] = weather['date_time_local'].dt.year

# Group the data by year and create individual CSV files
groups = weather.groupby('year')
for year, group in groups:
    year_file = f"{year}_weather.csv"
    group.to_csv(f"./data/{year_file}", index=False)
    print(f"Saved {year_file}")

Saved 2019_weather.csv
Saved 2020_weather.csv
Saved 2021_weather.csv
Saved 2022_weather.csv
Saved 2023_weather.csv

In [17]:
## Reading CSV weather for 2021
weather_2021 = pd.read_csv("./data/2021_weather.csv")
weather_2021.head()

,date_time_local,unixtime,pressure_station,pressure_sea,wind_dir,wind_dir_10s,wind_speed,wind_gust,relative_humidity,dew_point,temperature,windchill,humidex,visibility,health_index,cloud_cover_4,cloud_cover_8,cloud_cover_10,solar_radiation,max_air_temp_pst1hr,min_air_temp_pst1hr,year
0,2021-12-31 23:00:00,1641009600,100.80,101.22,NNE,2,7,NaN,91,-1.8,-0.5,-3.0,NaN,8100.0,NaN,NaN,8.0,NaN,NaN,0.1,-0.5,2021
1,2021-12-31 22:00:00,1641006000,100.84,101.26,NE,4,7,NaN,92,-1.8,-0.6,-3.0,NaN,8100.0,NaN,NaN,8.0,NaN,NaN,-0.2,-0.4,2021
2,2021-12-31 21:00:00,1641002400,100.85,101.27,NNE,2,3,NaN,92,-1.8,-0.6,-2.0,NaN,16100.0,NaN,NaN,8.0,NaN,NaN,-0.1,-0.6,2021
3,2021-12-31 20:00:00,1640998800,100.88,101.31,NNW,33,3,NaN,92,-1.9,-0.7,-2.0,NaN,12900.0,NaN,NaN,8.0,NaN,NaN,-0.5,-0.6,2021
4,2021-12-31 19:00:00,1640995200,100.86,101.28,N,35,8,NaN,90,-2.2,-0.7,-4.0,NaN,12900.0,NaN,NaN,8.0,NaN,NaN,-0.3,-0.6,2021

In [18]:
## Find variable info.
weather_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 22 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   date_time_local      8760 non-null   object
 1   unixtime             8760 non-null   int64
 2   pressure_station     8760 non-null   float64
 3   pressure_sea         8760 non-null   float64
 4   wind_dir             8666 non-null   object
 5   wind_dir_10s         8760 non-null   int64
 6   wind_speed           8760 non-null   int64
 7   wind_gust            1962 non-null   float64
 8   relative_humidity    8760 non-null   int64
 9   dew_point            8760 non-null   float64
 10  temperature          8760 non-null   float64
 11  windchill            2427 non-null   float64
 12  humidex              1490 non-null   float64
 13  visibility           8760 non-null   float64
 14  health_index         0 non-null      float64
 15  cloud_cover_4        0 non-null      float64
 16  cloud_cover_8        8741 non-null   float64
 17  cloud_cover_10       0 non-null      float64
 18  solar_radiation      0 non-null      float64
 19  max_air_temp_pst1hr  8760 non-null   float64
 20  min_air_temp_pst1hr  8760 non-null   float64
 21  year                 8760 non-null   int64
dtypes: float64(15), int64(5), object(2)
memory usage: 1.5+ MB

In [19]:
## Find dataframe shape
weather_2021.shape

(8760, 22)

In [20]:
## Checking for Null Values
weather_2021.isnull().sum()

date_time_local           0
unixtime                  0
pressure_station          0
pressure_sea              0
wind_dir                 94
wind_dir_10s              0
wind_speed                0
wind_gust              6798
relative_humidity         0
dew_point                 0
temperature               0
windchill              6333
humidex                7270
visibility                0
health_index           8760
cloud_cover_4          8760
cloud_cover_8            19
cloud_cover_10         8760
solar_radiation        8760
max_air_temp_pst1hr       0
min_air_temp_pst1hr       0
year                      0
dtype: int64

In [21]:
## Dropping unneccesary columns
weather_2021 = weather_2021[['date_time_local','temperature', 'wind_speed', 'relative_humidity']]
weather_2021.head()

       date_time_local  temperature  wind_speed  relative_humidity
0  2021-12-31 23:00:00         -0.5           7                 91
1  2021-12-31 22:00:00         -0.6           7                 92
2  2021-12-31 21:00:00         -0.6           3                 92
3  2021-12-31 20:00:00         -0.7           3                 92
4  2021-12-31 19:00:00         -0.7           8                 90

In [22]:
## Turning weather date into a usable standardized date and sorting + indexing
weather_2021['date_time_local'] = pd.to_datetime(weather_2021['date_time_local'])
weather_2021 = weather_2021.sort_values('date_time_local')
weather_2021.reset_index(drop=True, inplace=True)

## Renaming date_time_local column to date
weather_2021.rename(columns={'date_time_local':'date'}, inplace=True)
weather_2021.head()

                 date  temperature  wind_speed  relative_humidity
0 2021-01-01 00:00:00         -5.8           9                 76
1 2021-01-01 01:00:00         -4.9           3                 76
2 2021-01-01 02:00:00         -4.9           4                 80
3 2021-01-01 03:00:00         -4.3           5                 78
4 2021-01-01 04:00:00         -4.1           4                 76

#### Metadata weather_2021

| Column                 | Description                                  |
| ---------------------- | -------------------------------------------- |
| date                   | Date of the weather measurement                      |
| avg_temperature        | Average temperature in degrees Celsius        |
| avg_wind_speed         | Average wind speed in km/h                   |
| avg_relative_humidity  | Average relative humidity in percentage (%)   |

### Forecast Data Set

In [23]:
forecast.head()

,date_time_local,unixtime,period_index,period_string,conditions,pop,pop_category,temperature,uv,windchill,humidex,wind_bearing,wind_direction,wind_gust,wind_speed
0,2023-07-24 19:00:00,1690299000,1690304400,2023-07-25 13:00:00,Chance of showers,30,Low,23,NaN,NaN,29.0,NaN,SW,NaN,20
1,2023-07-24 18:00:00,1690299000,1690308000,2023-07-25 14:00:00,Chance of showers,30,Low,24,NaN,NaN,30.0,NaN,SW,NaN,20
2,2023-07-24 17:00:00,1690299000,1690311600,2023-07-25 15:00:00,Chance of showers,30,Low,25,NaN,NaN,31.0,NaN,SW,NaN,20
3,2023-07-24 16:00:00,1690299000,1690315200,2023-07-25 16:00:00,Chance of showers,30,Low,26,NaN,NaN,31.0,NaN,SW,NaN,20
4,2023-07-24 15:00:00,1690299000,1690318800,2023-07-25 17:00:00,Chance of showers,30,Low,27,NaN,NaN,32.0,NaN,SW,NaN,20

In [24]:
# Convert the 'date' column to datetime format
forecast['date_time_local'] = pd.to_datetime(forecast['date_time_local'])

# Extract the year value from the date column
forecast['year'] = forecast['date_time_local'].dt.year

# Group the data by year and create individual CSV files
groups = forecast.groupby('year')
for year, group in groups:
    year_file = f"{year}_forecast.csv"
    group.to_csv(f"./data/{year_file}", index=False)
    print(f"Saved {year_file}")

Saved 2019.0_forecast.csv
Saved 2020.0_forecast.csv
Saved 2021.0_forecast.csv
Saved 2022.0_forecast.csv
Saved 2023.0_forecast.csv

In [25]:
## Reading CSV weather for 2021
forecast_2021 = pd.read_csv("./data/2021.0_forecast.csv")
forecast_2021.head()

,date_time_local,unixtime,period_index,period_string,conditions,pop,pop_category,temperature,uv,windchill,humidex,wind_bearing,wind_direction,wind_gust,wind_speed,year
0,2021-12-31 23:00:00,1676839500,1676959200,2023-02-21 01:00:00,A few clouds,0,Nil,-9,NaN,-14.0,NaN,NaN,VR,NaN,10,2021.0
1,2021-12-31 22:00:00,1676839500,1676962800,2023-02-21 02:00:00,A few clouds,0,Nil,-10,NaN,-15.0,NaN,NaN,VR,NaN,10,2021.0
2,2021-12-31 21:00:00,1676839500,1676966400,2023-02-21 03:00:00,A few clouds,0,Nil,-10,NaN,-18.0,NaN,NaN,NE,NaN,20,2021.0
3,2021-12-31 20:00:00,1676839500,1676970000,2023-02-21 04:00:00,A few clouds,0,Nil,-11,NaN,-19.0,NaN,NaN,NE,NaN,20,2021.0
4,2021-12-31 19:00:00,1676824200,1676826000,2023-02-19 12:00:00,Mainly cloudy,0,Nil,1,NaN,NaN,NaN,NaN,SE,40.0,20,2021.0

In [26]:
## Find variable info.
forecast_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   date_time_local  8760 non-null   object
 1   unixtime         8760 non-null   int64
 2   period_index     8760 non-null   int64
 3   period_string    8760 non-null   object
 4   conditions       8760 non-null   object
 5   pop              8760 non-null   int64
 6   pop_category     8760 non-null   object
 7   temperature      8760 non-null   int64
 8   uv               0 non-null      float64
 9   windchill        5758 non-null   float64
 10  humidex          0 non-null      float64
 11  wind_bearing     0 non-null      float64
 12  wind_direction   8760 non-null   object
 13  wind_gust        2467 non-null   float64
 14  wind_speed       8760 non-null   int64
 15  year             8760 non-null   float64
dtypes: float64(6), int64(5), object(5)
memory usage: 1.1+ MB

In [27]:
## Find Shape
forecast_2021.shape

(8760, 16)

In [28]:
## Checking for Null Values
forecast_2021.isnull().sum()

date_time_local       0
unixtime              0
period_index          0
period_string         0
conditions            0
pop                   0
pop_category          0
temperature           0
uv                 8760
windchill          3002
humidex            8760
wind_bearing       8760
wind_direction        0
wind_gust          6293
wind_speed            0
year                  0
dtype: int64

In [29]:
## Dropping unneccesary columns
forecast_2021 = forecast_2021[['date_time_local','conditions']]
forecast.head()

,date_time_local,unixtime,period_index,period_string,conditions,pop,pop_category,temperature,uv,windchill,humidex,wind_bearing,wind_direction,wind_gust,wind_speed,year
0,2023-07-24 19:00:00,1690299000,1690304400,2023-07-25 13:00:00,Chance of showers,30,Low,23,NaN,NaN,29.0,NaN,SW,NaN,20,2023.0
1,2023-07-24 18:00:00,1690299000,1690308000,2023-07-25 14:00:00,Chance of showers,30,Low,24,NaN,NaN,30.0,NaN,SW,NaN,20,2023.0
2,2023-07-24 17:00:00,1690299000,1690311600,2023-07-25 15:00:00,Chance of showers,30,Low,25,NaN,NaN,31.0,NaN,SW,NaN,20,2023.0
3,2023-07-24 16:00:00,1690299000,1690315200,2023-07-25 16:00:00,Chance of showers,30,Low,26,NaN,NaN,31.0,NaN,SW,NaN,20,2023.0
4,2023-07-24 15:00:00,1690299000,1690318800,2023-07-25 17:00:00,Chance of showers,30,Low,27,NaN,NaN,32.0,NaN,SW,NaN,20,2023.0

In [30]:
## Turning weather date into a usable standardized date and sorting + indexing
forecast_2021['date_time_local'] = pd.to_datetime(forecast_2021['date_time_local'])
forecast_2021 = forecast_2021.sort_values('date_time_local')
forecast_2021.reset_index(drop=True, inplace=True)

## Renaming date_time_local to date
forecast_2021.rename(columns={'date_time_local':'date'}, inplace=True)
forecast_2021.head()

                 date    conditions
0 2021-01-01 00:00:00  A few clouds
1 2021-01-01 01:00:00  A few clouds
2 2021-01-01 02:00:00  A few clouds
3 2021-01-01 03:00:00  A few clouds
4 2021-01-01 04:00:00  A few clouds

In [31]:
## Final look at forecast_2021 dataframe
forecast_2021.head()

                 date    conditions
0 2021-01-01 00:00:00  A few clouds
1 2021-01-01 01:00:00  A few clouds
2 2021-01-01 02:00:00  A few clouds
3 2021-01-01 03:00:00  A few clouds
4 2021-01-01 04:00:00  A few clouds

#### Metadata Forecast_2021

| Column                 | Description                                  |
| ---------------------- | -------------------------------------------- |
| date                   | Date of the forecast                      |
| conditions             | Forecasted condition during date-time        |

## Merging Weather and Forecast data into a climate table

In [32]:
## Merging on matching date values in two seperate tables could be achieved with "Inner"
## Merging forecast_2021 and weather_2021 data tables
climate_data = pd.merge(forecast_2021, weather_2021, on='date', how='inner')
climate_data.head()

,date,conditions,temperature,wind_speed,relative_humidity
0,2021-01-01 00:00:00,A few clouds,-5.8,9,76
1,2021-01-01 01:00:00,A few clouds,-4.9,3,76
2,2021-01-01 02:00:00,A few clouds,-4.9,4,80
3,2021-01-01 03:00:00,A few clouds,-4.3,5,78
4,2021-01-01 04:00:00,A few clouds,-4.1,4,76

## Merging the Rides and Climate data into one unified table

In [33]:
## Grouping rides into each date to found counts
ride_counts_2021 = rides_2021.groupby("date").size().reset_index(name="ride_count")
ride_counts_2021

                    date  ride_count
0    2021-04-09 07:00:00           2
1    2021-04-09 08:00:00          72
2    2021-04-09 09:00:00         113
3    2021-04-09 10:00:00         150
4    2021-04-09 11:00:00         250
...                  ...         ...
5291 2021-11-15 19:00:00         581
5292 2021-11-15 20:00:00         412
5293 2021-11-15 21:00:00         360
5294 2021-11-15 22:00:00         260
5295 2021-11-15 23:00:00         196

[5296 rows x 2 columns]

In [34]:
## Merging ride_counts_2021 and climate_data tables
ride_counts_2021["date"] = pd.to_datetime(ride_counts_2021["date"])
climate_data["date"] = pd.to_datetime(climate_data["date"])
final_data = pd.merge(ride_counts_2021, climate_data, on='date', how='inner')
final_data.head()

,date,ride_count,conditions,temperature,wind_speed,relative_humidity
0,2021-04-09 07:00:00,2,Partly cloudy,7.6,15,86
1,2021-04-09 08:00:00,72,Partly cloudy,9.8,13,79
2,2021-04-09 09:00:00,113,A mix of sun and cloud,12.8,10,67
3,2021-04-09 10:00:00,150,A mix of sun and cloud,15.2,4,57
4,2021-04-09 11:00:00,250,A mix of sun and cloud,18.0,9,50

## Adding/Editing more features - season, weekend, holiday, cloud_cover

In [35]:
## Finding unique conditions list
list(final_data['conditions'].unique())

['Partly cloudy',
 'A mix of sun and cloud',
 'Chance of flurries',
 'Mainly cloudy',
 'Cloudy',
 'A few clouds',
 'Snow. Risk of freezing rain',
 'Snow',
 'Rain',
 'Snow at times heavy',
 'Snow at times heavy. Risk of freezing rain',
 'Periods of snow',
 'A few flurries',
 'Flurries at times heavy',
 'Light snow',
 'Flurries',
 'Periods of light snow',
 'Periods of drizzle',
 'Periods of rain',
 'Chance of showers',
 'Chance of flurries. Risk of freezing drizzle',
 'Periods of snow mixed with rain',
 'Periods of light snow mixed with rain',
 'Periods of light snow mixed with rain. Risk of freezing rain',
 'Light snow mixed with rain. Risk of freezing rain',
 'Snow at times heavy mixed with ice pellets. Risk of freezing rain',
 'Snow at times heavy mixed with ice pellets',
 'Periods of snow mixed with ice pellets',
 'Snow mixed with ice pellets',
 'Periods of rain mixed with snow',
 'Periods of light snow. Risk of freezing drizzle',
 'Periods of light snow mixed with freezing drizzle',
 'Freezing rain',
 'Chance of flurries or rain showers',
 'Sunny',
 'Clear',
 'Mainly sunny',
 'Snow at times heavy. Risk of freezing drizzle',
 'Overcast',
 'Periods of light snow mixed with freezing drizzle. Risk of freezing rain',
 'Freezing drizzle',
 'Periods of freezing drizzle',
 'Snow and blowing snow',
 'Periods of light snow and blowing snow',
 'Flurries at times heavy. Risk of snow squalls',
 'Snow mixed with rain',
 'Light snow. Risk of freezing drizzle',
 'Periods of rain or drizzle']

In [36]:
## Minimizing conditions into 5 categories
def assign_category(condition):
    if condition in ['Clear', 'Sunny', 'Mainly sunny']:
        return 'Clear'
    elif condition in ['A few clouds', 'Partly cloudy', 'A mix of sun and cloud']:
        return 'Scattered clouds'
    elif condition in ['Mainly cloudy', 'Cloudy', 'Overcast']:
        return 'Broken clouds'
    elif condition in ['Rain', 'Periods of rain', 'Chance of showers', 'Rain or drizzle',
                       'Periods of rain or drizzle', 'Rain. Risk of freezing rain',
                       'Periods of rain mixed with snow', 'A few showers']:
        return 'Rain'
    elif condition in ['Snow', 'Periods of light snow', 'Snow. Risk of freezing rain',
                       'Snow at times heavy', 'Periods of snow', 'Flurries at times heavy',
                       'Light snow', 'Flurries', 'Periods of snow mixed with rain',
                       'Chance of flurries', 'A few flurries', 'Snow at times heavy. Risk of freezing rain',
                       'Snow mixed with rain', 'Light snow. Risk of freezing drizzle',
                       'Snow mixed with rain. Risk of freezing rain', 'Flurries at times heavy. Risk of snow squalls',
                       'Periods of snow mixed with ice pellets', 'Snow mixed with ice pellets',
                       'Periods of rain mixed with snow', 'Snow at times heavy mixed with ice pellets',
                       'Periods of light snow mixed with freezing drizzle',
                       'Periods of light snow mixed with rain',
                       'Periods of light snow mixed with rain. Risk of freezing rain',
                       'Light snow mixed with rain. Risk of freezing rain',
                       'Snow at times heavy mixed with ice pellets. Risk of freezing rain',
                       'Snow at times heavy. Risk of freezing drizzle',
                       'Periods of light snow mixed with freezing drizzle. Risk of freezing rain',
                       'Periods of light snow and blowing snow', 'Snow and blowing snow']:
        return 'Snowfall'
    else:
        return 'Cloudy'

# Applying the assign_category function to create the 'categories' column
final_data['categories'] = final_data['conditions'].apply(assign_category)
final_data = final_data.drop(columns='conditions')

## Check Dataframe
final_data.head()

,date,ride_count,temperature,wind_speed,relative_humidity,categories
0,2021-04-09 07:00:00,2,7.6,15,86,Scattered clouds
1,2021-04-09 08:00:00,72,9.8,13,79,Scattered clouds
2,2021-04-09 09:00:00,113,12.8,10,67,Scattered clouds
3,2021-04-09 10:00:00,150,15.2,4,57,Scattered clouds
4,2021-04-09 11:00:00,250,18.0,9,50,Scattered clouds

In [37]:
## Round up temperature and windspeed floats to nearest halfs for 
def round_to_nearest_half(num):
    return round(num * 2) / 2

final_data['temperature'] = final_data['temperature'].apply(round_to_nearest_half)
final_data['wind_speed'] = final_data['wind_speed'].apply(round_to_nearest_half)

## Check Dataframe
final_data.head()

,date,ride_count,temperature,wind_speed,relative_humidity,categories
0,2021-04-09 07:00:00,2,7.5,15.0,86,Scattered clouds
1,2021-04-09 08:00:00,72,10.0,13.0,79,Scattered clouds
2,2021-04-09 09:00:00,113,13.0,10.0,67,Scattered clouds
3,2021-04-09 10:00:00,150,15.0,4.0,57,Scattered clouds
4,2021-04-09 11:00:00,250,18.0,9.0,50,Scattered clouds

In [38]:
## Adding a season feature to the dataframe
## Define a function to map the month to the corresponding season
def map_season(month):
    if month in [12, 1, 2]:
        return 'Winter'
    elif month in [3, 4, 5]:
        return 'Spring'
    elif month in [6, 7, 8]:
        return 'Summer'
    else:
        return 'Fall'
    
final_data['date'] = pd.to_datetime(final_data['date'])
final_data['season'] = final_data['date'].dt.month.map(map_season)

## Check Dataframe
final_data.head()

,date,ride_count,temperature,wind_speed,relative_humidity,categories,season
0,2021-04-09 07:00:00,2,7.5,15.0,86,Scattered clouds,Spring
1,2021-04-09 08:00:00,72,10.0,13.0,79,Scattered clouds,Spring
2,2021-04-09 09:00:00,113,13.0,10.0,67,Scattered clouds,Spring
3,2021-04-09 10:00:00,150,15.0,4.0,57,Scattered clouds,Spring
4,2021-04-09 11:00:00,250,18.0,9.0,50,Scattered clouds,Spring

In [39]:
## Adding weekend feature to the data frame
## Define a function to map the day of the week to a boolean value indicating if it's a weekend
def is_weekend(day):
    if day in [4, 5, 6]:
        return True
    else:
        return False
    
final_data['is_weekend'] = final_data['date'].dt.weekday.map(is_weekend)

## Check Dataframe
final_data.head()

,date,ride_count,temperature,wind_speed,relative_humidity,categories,season,is_weekend
0,2021-04-09 07:00:00,2,7.5,15.0,86,Scattered clouds,Spring,True
1,2021-04-09 08:00:00,72,10.0,13.0,79,Scattered clouds,Spring,True
2,2021-04-09 09:00:00,113,13.0,10.0,67,Scattered clouds,Spring,True
3,2021-04-09 10:00:00,150,15.0,4.0,57,Scattered clouds,Spring,True
4,2021-04-09 11:00:00,250,18.0,9.0,50,Scattered clouds,Spring,True

In [40]:
## Adding holiday feature to the data frame
## Define a list of Canadian holidays in 2021
holidays_2021 = {
    'New Year Day': '2021-01-01',
    'Good Friday': '2021-04-02',
    'Easter Monday': '2021-04-05',
    'Victoria Day': '2021-05-24',
    'Fete Nationale': '2021-06-24',
    'Canada Day': '2021-07-01',
    'Labour Day': '2021-09-06',
    'National Day for Truth and Reconciliation': '2021-09-30',
    'Thanksgiving Day': '2021-10-11',
    'Christmas Day': '2021-12-25'}

## Define a function to map the day of the week to a boolean value indicating if it's a holiday
def is_holiday(date):
    date_str = date.strftime('%Y-%m-%d')
    return date_str in holidays_2021.values()

## Add the 'is_holiday' feature to the tables
final_data['is_holiday'] = final_data['date'].map(is_holiday)

## Check dataframe
final_data.head()

,date,ride_count,temperature,wind_speed,relative_humidity,categories,season,is_weekend,is_holiday
0,2021-04-09 07:00:00,2,7.5,15.0,86,Scattered clouds,Spring,True,False
1,2021-04-09 08:00:00,72,10.0,13.0,79,Scattered clouds,Spring,True,False
2,2021-04-09 09:00:00,113,13.0,10.0,67,Scattered clouds,Spring,True,False
3,2021-04-09 10:00:00,150,15.0,4.0,57,Scattered clouds,Spring,True,False
4,2021-04-09 11:00:00,250,18.0,9.0,50,Scattered clouds,Spring,True,False

### Finalizing the data

In [41]:
## Specifying the column names that I want to use
new_cols_dict ={
    'date':'time',
    'ride_count':'count', 
    'categories':'weather',
    'temperature' : 'temp',
    'wind_speed':'wind_speed_kph',
    'relative_humidity':'humidity_percent',
    'season':'season',
    'is_holiday':'is_holiday',
    'is_weekend':'is_weekend',
    
}

# Renaming the columns to the specified column names
final_data.rename(new_cols_dict, axis=1, inplace=True)

In [42]:
## Find variable info.
final_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5299 entries, 0 to 5298
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   time              5299 non-null   datetime64[ns]
 1   count             5299 non-null   int64
 2   temp              5299 non-null   float64
 3   wind_speed_kph    5299 non-null   float64
 4   humidity_percent  5299 non-null   int64
 5   weather           5299 non-null   object
 6   season            5299 non-null   object
 7   is_weekend        5299 non-null   bool
 8   is_holiday        5299 non-null   bool
dtypes: bool(2), datetime64[ns](1), float64(2), int64(2), object(2)
memory usage: 300.3+ KB

In [43]:
## Find dataframe shape
final_data.shape

(5299, 9)

In [44]:
## Checking for Null Values
final_data.isnull().sum()

time                0
count               0
temp                0
wind_speed_kph      0
humidity_percent    0
weather             0
season              0
is_weekend          0
is_holiday          0
dtype: int64

In [45]:
## Check final dataframe
final_data.head()

,time,count,temp,wind_speed_kph,humidity_percent,weather,season,is_weekend,is_holiday
0,2021-04-09 07:00:00,2,7.5,15.0,86,Scattered clouds,Spring,True,False
1,2021-04-09 08:00:00,72,10.0,13.0,79,Scattered clouds,Spring,True,False
2,2021-04-09 09:00:00,113,13.0,10.0,67,Scattered clouds,Spring,True,False
3,2021-04-09 10:00:00,150,15.0,4.0,57,Scattered clouds,Spring,True,False
4,2021-04-09 11:00:00,250,18.0,9.0,50,Scattered clouds,Spring,True,False

#### Metadata final_data

| Column                 | Description                                  |
| ---------------------- | -------------------------------------------- |
| time                   | Timestamp of record                     |
| count                  | Total number of rides taken      |
| weather                | Weather conditions       |
| temp                   | Temperature in Celcius (C)        |
| wind_speed_kph         | Wind speed in km/h (kph)                  |
| humidity_percent       | Humidity in percentage (%)   |
| season                 | Name of the season |
| is_weekend             | Boolean value given if date is a weekend       |
| is_holiday             | Boolean value given if date is a holiday      |

## Final Data Set

In [46]:
## final dataframe
final_data.head()

,time,count,temp,wind_speed_kph,humidity_percent,weather,season,is_weekend,is_holiday
0,2021-04-09 07:00:00,2,7.5,15.0,86,Scattered clouds,Spring,True,False
1,2021-04-09 08:00:00,72,10.0,13.0,79,Scattered clouds,Spring,True,False
2,2021-04-09 09:00:00,113,13.0,10.0,67,Scattered clouds,Spring,True,False
3,2021-04-09 10:00:00,150,15.0,4.0,57,Scattered clouds,Spring,True,False
4,2021-04-09 11:00:00,250,18.0,9.0,50,Scattered clouds,Spring,True,False

In [47]:
## Converting final_data into excel for use with visualization software
final_data.to_excel('montreal_bike_rides.xlsx', sheet_name='Data')